{% extends 'main/base.html' %} {% block title %}Co to CarBuddy?{% endblock %} 
{% load crispy_forms_tags %} {% block content %}
<main>
<h2>O nas</h2>
<div class="about-us-box CarBuddy">
<div class="about-us-bg"></div>
<div class="about-us-text">
<h3>Co to jest tak naprawę CarBuddy?</h3>
<p>Podczas użytkowania samochodu trzeba pamiętać o kosztach - w tym o kosztach napraw, przeglądów, ubezpieczeń i innych. CarBuddy pozwala nie tylko optymalizować budżet na paliwo, ale też gromadzić informacje o eksploatacji pojazdu. Dzięki temu, gdy sprzedajemy auto, możemy łatwo pokazać, ile kosztuje jego użytkowanie. W aplikacji CarBuddy można rejestrować koszty paliwa, ale też inne czynniki, a wygenerowane raporty pozwalają porównać koszty eksploatacji w różnych okresach - np. w sezonie letnim i zimowym.</p>
</div>
</div>

<div class="about-us-box Dodawanie">
    <div class="about-us-bg"></div>
    <div class="about-us-text">
    <h3>Dodawanie przejazdów:</h3>
    <p><ul>
        <li> Użytkownik może dodać nowy przejazd do swojego dziennika samochodowego, podając informacje, takie jak data, dystans, zużycie paliwa, cena paliwa i koszt podróży.</li>
        <li> Aplikacja oblicza średnie zużycie paliwa na 100 km oraz koszt przejechania 1 km.</li>
        <li> Użytkownik może również dodać notatkę do przejazdu, opisując cel lub inne szczegóły.</li>
    </ul></p>
    </div>
    </div>

    <div class="about-us-box Wyświetlanie">
        <div class="about-us-bg"></div>
        <div class="about-us-text">
        <h3>Wyświetlanie przejazdów:</h3>
        <p><ul>
            <li>Użytkownik może przeglądać swoje dotychczasowe przejazdy, sortując je według daty, dystansu, kosztu lub zużycia paliwa. </li>
                <li>Użytkownik może filtrować przejazdy według okresu czasu, od/do daty oraz według notatki.</li>
            </ul></p>
        </div>
        </div>


        <div class="about-us-box Statystyki">
            <div class="about-us-bg"></div>
            <div class="about-us-text">
            <h3>Statystyki:</h3>
            <p><ul>
                <li> Aplikacja wyświetla statystyki dotyczące dziennika samochodowego, takie jak łączny dystans przejechany, zużycie paliwa, średnie zużycie paliwa i koszt podróży.</li>
                <li> Użytkownik może wybrać okres, dla którego chce wyświetlić statystyki. </li>
                </ul></p>
            </div>
            </div>

            
            <div class="about-us-box Autoryzacja">
                <div class="about-us-bg"></div>
                <div class="about-us-text">
                <h3>Autoryzacja i autentykacja:</h3>
                <p><ul>
                    <li> Aplikacja umożliwia rejestrację i logowanie użytkowników.</li>
                    <li> Tylko zalogowani użytkownicy mogą dodawać, edytować i usuwać przejazdy oraz przeglądać swoje statystyki.</li>
                    </ul></p>
                </div>
                </div>

                













</main>
{% endblock %}