
{% extends 'main/base.html' %} {% block title %}Login{% endblock %} 
{% load crispy_forms_tags %} {% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<form method="post">
  {% csrf_token %}{{form|crispy}}
  {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stylelogin.css' %}">
  <p>Nie masz konta?  <a href="/sign-up">Utwórz tutaj!</a>!</p>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Zapmiętaj</label>
  </div>
  <button type="submit" class="btn btn-success">Zaloguj</button>
</form>
{% endblock %}
