{% extends 'main/base.html' %} {% block title %}Dziennik{% endblock %} 

{% comment %} {% for samochod in samochody %}
    <li>{{ samochod.marka }} {{ samochod.model }} ({{ samochod.rok_produkcji }})</li>
{% empty %}
    <li>Brak samochodów.</li>
{% endfor %} {% endcomment %}


{% block content %}
  <h1>Lista samochodów</h1>
  <ul>
    {% for samochody in samochody %}
      <h1>{{ samochody.marka }} {{ samochody.model }} </h1>
      <li>Numer rejestracyjny: <b>{{ samochody.nr_rejestracyjny}}</b></li>
      <li>Rok Produkcji: <b>{{ samochody.rok_produkcji }}</b></li> 
      <li>Pojemność silnik:<b>{{ samochody.pojemność_silnika}}</b></li>
    {% endfor %}
    
  </ul>
{% endblock %}